.addtransaction_container {
  margin: 20px;
  background-color: #f5f5f5;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: "block";
}
.addtransaction_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-column: 2;
}
.addtransaction_form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.addtransaction_form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.addtransaction_form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.description {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.addtransaction_buttons {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.addtransaction_buttons .saveBtn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addtransaction_buttons .cancelBtn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
